


html, body { height: 100%; margin: 0; 
    background-color: rgb(46, 46, 46);

}


canvas{
    margin: 30px;
    background-color: darkgray;
    border: 3px solid white;
    border-radius: 8px;
}



